


* {
    font-family: sans-serif;
    box-sizing: border-box;

    margin: 0;
    padding: 0;

}
  

body {
    line-height: 1.6;
    background-color: rgb(118,60,189);

    -webkit-transform: 800px;
       -moz-transform: 800px;
            transform: 800px;
            
     }

ul {

    list-style: none;
    }
    

a {
    color: #34495e;
    text-decoration: none;
    }
    .nav a:hover {
        background-color: #7ebeb6;
        color: #092747;
                 }
    .header {
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: rgb(37,19,94);;
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    }

    .nav {
        margin-left: 5px;
         }
    
    .nav a {
        padding: 10px 15px;
        text-align: center;
        display: block;
        color: white;
        font-size: .99em;
           }

           @media (max-width: 799px) {
            
            .nav, .header {
                flex-direction: column;
                display: flex;
            }        
        
            .header {
                flex-direction: column;
                align-items: center;
            }
        }
        
        @media (min-width: 800px) {
            .header,
            .nav {
                display: flex;
            }
            .header {
                flex-direction: column;
                align-items: center;
            }
        }
        
            /* 
             Applies when the browser's width is 1000px wide or wider: 
             */
        
        @media (min-width: 1000px) {
            .header {
                flex-direction: row;
                justify-content: space-between;
            }
}

.flexboxI {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }


  
  .post {
    background-color: rgb(171, 148, 244);
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    width: 	90%;
  }

  .box {
    background-color: rgb(37,19,94);
    padding: 20px;
    margin: 40px;
    border-radius: 8px;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4); 
}


.box label,
.box textarea,
.box input[type="file"],
.box button {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}


.box button {
    cursor: pointer;
    background-color: rgb(10,237,172);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}


.box button:hover {
    background-color: rgba(10,237,172, 0.8);
}



  .FooterI {
    flex-direction: row;
    justify-content: space-between;
  }