* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
}

body {
    line-height: 1.6;
    background-color: #18191a;
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
   
}



ul {
    list-style: none;
}



header {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    background-color: #242526;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    width: 50px;
    height: 50px;
    margin-inline: 2em;
    border-radius: 50%;
}

a {
    color: #34495e;
    text-decoration: none;
    display: inline-block;
    
}

a:active{
    opacity: 0.8;
}


.nav {
    margin-inline: 2em;
    
}

.nav a {
    padding: 10px 15px;
    text-align: center;
    display: block;
    color: whitesmoke;
    font-size: .99em;
    border-radius: 3px;
}

.nav a:hover {
    background-color: #E5C3A6;
    color: #092747;
    transition: 50ms;
}

@media (max-width: 799px) {
    .nav, header, footer {
        flex-direction: column;
        display: flex;
    }        
        
    header,footer {
        flex-direction: column;
        align-items: center;
    }
    .dropdown-content {
        left: 50%;
        
    }
}

@media (min-width: 800px) {
    header, .nav {
        display: flex;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    .dropdown-content {
        left: 50%;
        
    }
}

@media (min-width: 1000px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .dropdown-content {
        left: 0%;
        
    }
    
}

.flexboxI {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
     
}

.flexboxI > div{ /*Child Selector*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);

}

.post {
    background-color: #3a3b3c;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    border-radius: 8px;
    width: 90%;
    
}

.post > img{ /*Child Selector*/
    border-radius: 8px;
    width: 640px;
    height: 360px;
    display: block;
    object-fit: cover; 
    max-width: 100%;
}

.andmed ul{
    display: flex;
    align-items: center;
    
}

.andmed li{
    display: inline-block;
    padding-right: 10px;
    
}

.andmed li >img{
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

.andmed + p{ /*Adjacent Sibling Selector */
    font-weight:bold;
    padding-top: 25px;
    
}

.andmed ~ p{ /*General Sibling Selector*/
    padding-bottom: 15px;


}

#login{
    text-align: center;
}




#login a{
    color: #E5C3A6;
    padding: 5px;
}

#login a:hover{
    transform: scale(1.03);
    transition: transform 150ms;
}




#logInButton{
    margin-top: 2em;
}







.box {
    background-color: #3a3b3c;
    padding: 20px;
    margin: 40px;
    border-radius: 8px;
    color: whitesmoke;
    min-width: 300px;
}

.box h2{
    font-weight: bold;
    margin:1em;
}

.box > form{
    padding-top: 2em;
}



.box label, .box textarea, .box input[type="file"], .box button {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.box button {
    cursor: pointer;

    background-color: #83715f;
    color: whitesmoke;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

.box button:hover{
    background-color: #E5C3A6;
    color: #092747;
    transition: 150ms;
}

.box button:active{
    opacity: 0.8;
}



#addText, #emailA, #emailP{ /*ID Selector*/
    border-radius: 8px;
    background-color: #787a7c;
    padding: 0.5em;
    color:whitesmoke;
    resize: none;
    width: 100%;
    margin-top:0.2em;
    

}

::placeholder{ /*pseudo-element*/
    color: whitesmoke;
    opacity: 0.5;
}





footer {
    background-color: #242526;
    color: whitesmoke;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;

}



footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

footer li {
    display: inline-block; 
    margin: 10px;
    opacity: 0.5;
}


/* 
Dropdown menu
*/

/* ... rest of your CSS ... */

.logo-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    top: 100%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 20px;
    padding-inline: 30px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: transparent; 
    z-index: 2;
}

/* Pseudo-element for the semi-transparent background */
.dropdown-content::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #787A7CF7; /* Semi-transparent background */
    border-radius: 8px; /* Match the border-radius of the dropdown */
    z-index: -1; /* Position it behind the dropdown content */
}




.dropdown-content button {
    display: block;
    margin-block: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #83715f;
    color: whitesmoke;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: block;
    opacity: 100%;
}

.dropdown-content button:hover{
    background-color: #E5C3A6;
    color: #092747;
    transition: 150ms;
}

.dropdown-content button:active{
    opacity: 0.8;
}

/* Show the dropdown menu */
.show {
    display: block;
}